@use "@scss/variables";

.books__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 20px;

    .books__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        background-color: variables.$card-background-color;
        border-radius: variables.$card-border-radius;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
