$background-color: #adafb1;
$header-background-color: #f2d5ce;

$button-color: #cdcdcd;
$button-border-color: #b6b7b4;
$button-border-radius: 5px;
$button-warning-color: #e9f2a2;
$button-warning-border-color: green;
$button-danger-color: #f2d5ce;

$button-danger-border-color: #d43f00;

$input-border-color: #b6b7b4;
$input-border-radius: 5px;

$card-background-color: #efedee;
$card-border-color: #b6b7b4;
$card-border-radius: 5px;

$modal-first-layer-background-color: rgba(0, 0, 0, 0.6);
$modal-second-layer-background-color: #efedee;
$modal-border-color: #b6b7b4;
$modal-border-radius: 5px;

$app-snackbar-background-color: #aef3b2;
$app-snackbar-border-color: green;
$app-snackbar-border-radius: 5px;
$app-snackbar-error-background-color: #f2d5ce;
$app-snackbar-error-border-color: #d43f00;
