$background-color: #adafb1;
$header-background-color: #F2D5CE;

$button-color: #cdcdcd;
$button-border-color: #b6b7b4;
$button-border-radius: 5px;
$button-warning-color: #E9F2A2;
$button-warning-border-color: green;
// cho màu đỏ nhạt thôi
$button-danger-color: #F2D5CE;


$button-danger-border-color: #d43f00;

$input-border-color: #b6b7b4;
$input-border-radius: 5px;

$card-background-color: #efedee;
$card-border-color: #b6b7b4;
$card-border-radius: 5px;

$modal-first-layer-background-color: rgba(0, 0, 0, 0.6);
$modal-second-layer-background-color: #efedee;
$modal-border-color: #b6b7b4;
$modal-border-radius: 5px;

